<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1>Twitter Team</h1>
    <p>
      To Complete Your Password Reset, just follow this link: <%= @url %>.
    </p>
    <p>Regards,</p>
    <p>Twitter Dev. Team</p>
  </body>
</html>